* {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card {
    border: 1px solid black;
    width: 250px;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


img {
    width: 100%;
    height: 180px;
}

.caption {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.caption, li, .links {
    border: solid 1px rgb(187, 186, 186);
    box-sizing: border-box;
}

li, .links, h3, p {
    padding: 10px
}

.links {
    display: flex;
    gap: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

