* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.726);
    overflow: hidden;
    border-radius: 10px;
}

#equals {
    grid-row: 3 / span 4;
    grid-column: 4;
    background-color: #F77077;
    border-bottom-right-radius: inherit;
}

#equals > button {
    border-bottom-right-radius: inherit;
}


.numbers, .operands, .result{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #899DAE 1px;
}

.result {
    grid-row: 1 / 1;
    grid-column: 1 / span 4;
    color: white;
    background-color: #424C52;
    justify-content: flex-end;
    font-size: 16px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}



#zero > button, #zero {
    border-bottom-left-radius: inherit;
}

.numbers > button {
    height: 100%;
    width: 100%;
    background-color: inherit;
    border: none;
}

.operands > button {
    height: 100%;
    width: 100%;
    background-color: inherit;
    border: none;
} 

.operands {
    background-color: #D2DCE3;
}


.numbers > button:hover{
    background-color: #aab2b8;
}

.operands > button:hover{
    background-color: #899dae9b;
}

#equals > button:hover{
    background-color: #ef575feb;
}


.numbers > button:active,
.operands > button:active,
.result > button:active {
    opacity: 0.8; 
}